<section>
        <div class="Signup-page">
            <h1>Sign Up</h1>
            <form action="/api/register" method="post" id="form" onsubmit="return validateForm()" onsubmit="resetInput()">
                <input type="text" name="name" id="name"><label for="name">Full Name</label>
                <input type="email" name="email" id="email"><label for="input-email">Email</label>
                <input type="password" name="password" id="input-pass"><label for="input-pass">Password</label>
                <button type="submit" id="Signup" >Signup</button>
            </form>
        </div>
    </section>